<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>

    <link rel="stylesheet" href="../css/footer.css">
    <link href="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">


</head>
<body>
    <script src="..\scripts\home.js"></script>
    <footer>

        <div class = "footer-col" id="footer-container">
            <h4>About Us</h4>
            <ul>
                <li><a href="aboutus.html">About Us</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Partners</a></li>
            </ul>

            
        </div>

        <div class = "footer-col">
            <h4>Our Services</h4>
            <ul>
                <li><a href="#">Cloud</a></li>
                <li><a href="#">Enterprise Resource Planning</a></li>
                <li><a href="#">SAP</a></li>
                <li><a href="#">Events & Webinars</a></li>
            </ul>
            
            
        </div>
        <div class = "footer-col">
            <br /><br />         
            <ul>
                <li><a href="#">Contact US</a></li>                      
            </ul>
            
            
        </div>
        <div class = "footer-col">   
            <h4>follow Us</h4>        
            <div class="links">
                <a href="#"><i class='bx bxl-facebook'></i></a>
                <a href="#"><i class='bx bxl-twitter'></i></a>
                <a href="#"><i class='bx bxl-instagram'></i></a>
                <a href="#"><i class='bx bxl-linkedin'></i></a>
            </div>
            
            
        </div>
    </footer>

</body>
</html>