<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Future Solution</title>
    
    <link rel="stylesheet" href="..\css\home.css" />
    <link rel="stylesheet" href="..\css\navBar.css">
    <link rel="stylesheet" href="..\css\footer.css">
    <link rel="stylesheet" 
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>
<body>
     <!-- navigation bar -->
    <div id="navbar"></div>

    <!-- home -->
    <section class="home" id="home">
        <div class="home_text">
            <h1>Welcome to <br>Future Solution</h1>
            <p>We are a team of experienced professionals, committed to providing exceptional services for our clients.</p>
            <a href="#" class="btn" aria-label="Learn more about Future Solution">Learn More</a> 
        </div>
        <div class="home-img">
            <img src="../assets/aboutus.jpg" alt="About Us - A team of professionals">
        </div> 
    </section>

    <!--about us-->
    
    <section class="about" id="about">
     
        <div class="about-img">
            <img src="../assets/aboutus.jpg" alt="About Us - A team of professionals">
        </div>
        <div class="about-text">
            <h2>Our History</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem enim optio temporibus et repellendus amet minima iure sapiente nesciunt exercitationem possimus voluptatibus, ad velit molestiae voluptas. Cum optio accusantium autem?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam voluptatum ratione quaerat quasi minima ut, doloremque provident minus qui, temporibus animi! Consequatur fugiat adipisci a illo amet. Ipsam, nulla dolore.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui mollitia neque, aperiam alias voluptatum ex obcaecati minus sapiente sequi sit aspernatur minima delectus quisquam quidem doloribus cum tempore quae unde!</p>
           <br>
            <a href="#" class="btn" aria-label="Read more">Read More</a>  
        </div>

    </section>
<!--Services-->
    <section class="services", id="services">
        <div class="heading">
            <h2>Our Services</h2>
        </div>
        <div class="services-container">
            <!--cloud-->
            <div class="box">
                <img src="../assets/CloudServices.jpg" alt="">
                <h3>Cloud Services</h3>
                <a href="#" class="btn" aria-label="More Details">Visit Page for more details</a>

            </div>
            <!--erp-->
            <div class="box">
                <img src="../assets/erp.jpg" alt="">
                <h3>Enterprise Resource Planning</h3>
                <a href="#" class="btn" aria-label="More Details">Visit Page for more details</a>

            </div>
            <!--saas-->
            <div class="box">
                <img src="../assets/saas.jpg" alt="">
                <h3>Saas</h3>
                <a href="#" class="btn" aria-label="More Details">Visit Page for more details</a>

            </div>
            <!--webiners-->
            <div class="box">
                <img src="../assets/software2.jpg" alt="">
                <h3>Events & Webiners</h3>
                <a href="#" class="btn" aria-label="More Details">Visit Page for more details</a>

            </div>

            <!--sap-->
            <div class="box">
                <img src="../assets/sap.jpg" alt="">
                <h3>SAP</h3>
                <a href="#" class="btn" aria-label="More Details">Visit Page for more details</a>

            </div>
        </div>
    </section>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda tempore iure sunt sit architecto at. Minus tenetur ea officiis! Modi esse saepe reiciendis ex maxime, eos repudiandae pariatur totam dolorem.</p>

<!--customers-->
    <!-- <section class="news", id="news">
        <div class="heading">
            <h2>Our Latest News</h2>
        </div>
        <div class="news-container">
            
            <div class="box">
                <img src="../assets/news1.jpg" alt="">
            </div>
           
            <div class="box">
                <img src="../assets/news2.jpg" alt="">
                <h3>Enterprise Resource Planning</h3>
                <a href="#" class="btn" aria-label="More Details">Visit Page for more details</a>

            </div>
           
            <div class="box">
                <img src="../assets/news3.jpg" alt="">
                <h3>Saas</h3>
                <a href="#" class="btn" aria-label="More Details">Visit Page for more details</a>

            </div>
            
            <div class="box">
                <img src="../assets/news4.jpg" alt="">
                <h3>Events & Webiners</h3>
                <a href="#" class="btn" aria-label="More Details">Visit Page for more details</a>

            </div>

           
            <div class="box">
                <img src="../assets/news3.jpg" alt="">
                <h3>SAP</h3>
                <a href="#" class="btn" aria-label="More Details">Visit Page for more details</a>

            </div>           

        </div>
    </section> -->

    <!-- scripts -->
    <!-- <script src="..\scripts\home.js"></script> -->

    <!--footer-->
    <div id="footer-container"></div>

    <script src="..\scripts\footer.js"></script>
    <script src="..\scripts\navbar.js"></script>
    
   
</body>
</html>