<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Navigation Bar</title>
    <link rel="stylesheet" href="../css/navBar.css">
    <link href="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>
<body>
    <script src="..\scripts\home.js"></script>
    <div class="container">
        <header>
            <a href="#" class="logo"> 
                <img src="../assets/LOGO2.png" alt="Logo">        
            </a>            
            <!-- <h1>future solution</h1> -->
             
    
    <nav class="navbar" id="navbar">
        <ul>
            <li><a href="home.html"> Home</a></li>
            <li><a href="#"> About Us</a>
                <ul class="dropdown">
                    <li><a href="aboutus.html">About Us</a></li>
                    <li><a href="careers.html">Careers</a></li>
                    <!-- <li><a href="news.html">Blog</a></li> -->
                    <li><a href="partners.html">Partners</a></li>
                </ul>
            </li>
            <li><a href="#"> Services</a>
                <ul class="dropdown">
                    <li><a href="colud.html">Cloud</a></li>
                    <li><a href="erp.html">Enterprise Resource Planning</a></li>
                    <li><a href="sap.html">SAP</a></li>
                    <li><a href="event.html">Events & Webinars</a></li>
                </ul>
            </li>
            <li><a href="contactus.html"> Contact us </a></li>
            <li><a href="#"> customers</a></li>
            <!-- <li><a href="#"> About</a></li>
            <li><a href="#"> Services</a></li>
            <li><a href="#"> Contact</a></li> -->
        </ul>
       
    </nav>
</header>  
</div>
</body>
</html>
