<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About US</title>

    <link rel="stylesheet" href="..\css\partners.css" />
    <link rel="stylesheet" href="..\css\navBar.css">
    <link rel="stylesheet" href="..\css\footer.css">
    <link rel="stylesheet" 
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

</head>
<body>
    <div id="navbar"></div>
    <div class="services-container">  
       
        <div class="box">
            <img src="../assets/Microsoft's.jpeg" alt="">           
            <h1>Microsoft</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, nam. Consequuntur praesentium exercitationem non, nulla, maiores explicabo ut, ipsa soluta rem nostrum delectus velit quo sit consequatur provident. Nostrum, qui.</p>
        </div>
       
    
    
   
        <div class="box">
            <img src="../assets/aws.jpeg" alt="">           
            <h1>AWS</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, nam. Consequuntur praesentium exercitationem non, nulla, maiores explicabo ut, ipsa soluta rem nostrum delectus velit quo sit consequatur provident. Nostrum, qui.</p>
        </div>
       
   
       
        <div class="box">
            <img src="../assets/MicrosoftAzure.jpeg" alt="">           
            <h1>Microsoft Azure</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, nam. Consequuntur praesentium exercitationem non, nulla, maiores explicabo ut, ipsa soluta rem nostrum delectus velit quo sit consequatur provident. Nostrum, qui.</p>
        </div>
       
    
       
        <div class="box">
            <img src="../assets/hp.jpeg" alt="">           
            <h1>HP Laptops</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, nam. Consequuntur praesentium exercitationem non, nulla, maiores explicabo ut, ipsa soluta rem nostrum delectus velit quo sit consequatur provident. Nostrum, qui.</p>
        </div>
       
    
       
        <div class="box">
            <img src="../assets/ibm.jpeg" alt="">           
            <h1>IBM</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, nam. Consequuntur praesentium exercitationem non, nulla, maiores explicabo ut, ipsa soluta rem nostrum delectus velit quo sit consequatur provident. Nostrum, qui.</p>
        </div>
       
    
       
        <div class="box">
            <img src="../assets/google.jpeg" alt="">           
            <h1>Google</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, nam. Consequuntur praesentium exercitationem non, nulla, maiores explicabo ut, ipsa soluta rem nostrum delectus velit quo sit consequatur provident. Nostrum, qui.</p>
        </div>
       
     
<!--        
        <div class="box">
            <img src="../assets/careetSE.png" alt="">           
            <h1>Patner name</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, nam. Consequuntur praesentium exercitationem non, nulla, maiores explicabo ut, ipsa soluta rem nostrum delectus velit quo sit consequatur provident. Nostrum, qui.</p>
        </div>
       
    
        <div class="box">
            <img src="../assets/careetSE.png" alt="">           
            <h1>Patner name</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, nam. Consequuntur praesentium exercitationem non, nulla, maiores explicabo ut, ipsa soluta rem nostrum delectus velit quo sit consequatur provident. Nostrum, qui.</p>
        </div>
       
    
        <div class="box">
            <img src="../assets/careetSE.png" alt="">           
            <h1>Patner name</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, nam. Consequuntur praesentium exercitationem non, nulla, maiores explicabo ut, ipsa soluta rem nostrum delectus velit quo sit consequatur provident. Nostrum, qui.</p>
        </div>
    
       
        <div class="box">
            <img src="../assets/careetSE.png" alt="">           
            <h1>Patner name</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, nam. Consequuntur praesentium exercitationem non, nulla, maiores explicabo ut, ipsa soluta rem nostrum delectus velit quo sit consequatur provident. Nostrum, qui.</p>
        </div> -->
       
    </div>




    <div id="footer-container"></div>

    <script src="..\scripts\footer.js"></script>
    <script src="..\scripts\navbar.js"></script>
</body>
</html>


