/* General Styles */
body {
    font-family: cursive;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

/* Container for h1 and button */
.header-container {
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: space-between; /* Space out items horizontally */
    margin: 20px auto;
    max-width: 1200px; /* Optional: Adjust the width as needed */
    padding: 0 20px;
    font-display: capitalize;
}

/* Style for the h1 */
.header-container h1 {
    font-size: 3rem;
    color: #000767;
    margin: 0;
    font-family: cursive;
    font-weight: 500;
}

/* Style for the button */
.header-container .btn-primary a {
    background-color: white !important;
    color: #000767;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
    border: 1px solid #000767;;
}

.header-container .btn-primary a:hover {
    background-color: #000767;
}